blinker
click
colorama
filelock
Flask
Flask-Cors
fsspec
itsdangerous
jieba
Jinja2
MarkupSafe
mpmath
networkx
numpy
packaging
pillow
protobuf
python-dotenv
scipy
setuptools 
sympy  
tensorboardX            
torch
torchaudio
torchvision
typing_extensions
Werkzeug
wheel
